body {
    background-color: #D2DEF2;
}
:root {
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    color: #3d3d3d;
}
.green{
    color: #32c888;
    font-family: 'Montserrat', sans-serif;
}
.big{
    font-size: 400%;
}